server {
	hostname = "irc.myhost.com";
	# port = "6667";
	nick = "laas";
	channel = "#lontest";
}

commands {
	command {
		name = "sleep";
		action = "sleep %s";
		regex = "^[0-9][0-9]?$";
		help = "Go to sleep for N seconds";
	}
}

nopes {
	message = "%s: Do it yourself.";
	message = "Go pick on someone else, %s.";
	message = "%s: You'd have better luck asking a pigeon.";
	message = "Maybe ask jboggs? He's way cooler.";
	message = "%s: No.";
	message = "%s: Hmm, no.";
	message = "%s: Try saying please?";
	message = "%s: Ask lon to add you to my user list.";
}

users {
	user {
		name = "lon";
	}
	#user {
		#name = "lon|home";
	#}
}
